.cart {
    background-color: var(--primaryColor);
}

.container {
    width: 117rem;
    margin: 0 auto;
}

.heading {
    font-size: 4.3rem;
    font-weight: 600;
    line-height: normal;
    padding: 5rem 0;
    text-align: center;
}

.body {
    display: flex;
    justify-content: center;
}

.body:has(.provisional) {
    align-items: flex-start;
    gap: 3rem;
}

.list {
    gap: 3rem;
    width: 57rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

.provisional {
    position: sticky;
    width: 57rem;
    top: 3rem;
    padding: 3rem 2.5rem;
    background-color: #fff;
    border-radius: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.item {
    width: 100%;
    display: grid;
    grid-template-columns: 6.8fr 1fr 2.6fr;
}

.name,
.quantity,
.sub-total {
    color: var(--Black-Font, #22201f);
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}

.sub-total {
    text-align: right;
}

.separate {
    width: 100%;
    height: 0.1rem;
    background-color: #e0e0e0;
    margin-bottom: 1.5rem;
}

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.title {
    color: #000;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.price {
    color: #f00;
    font-family: 'Plus Jakarta Sans';
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.checkout {
    flex: 0 1 15rem;
}
