.our-chef {
    margin: 0 auto;
    border-radius: 3rem;
    width: calc(100% - 6rem);
    padding: 7rem 0;
    background-color: var(--secondColor);
    color: #22201f;
}

.container {
    width: 117rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-family: 'Libre Caslon Text';
    font-size: 6.4rem;
    font-style: normal;
    line-height: 7.4rem; /* 115.625% */
}

.desc {
    width: 76.8rem;
    text-align: center;
    padding: 1.6rem 0 4rem;
}

.list {
    display: flex;
    gap: 3rem;
}

.chef {
    .avt {
        display: flex;
        width: 37rem;
        height: 44.3rem;
        object-fit: cover;
        border: 1px solid #22201f;
    }

    .name {
        text-align: center;
        font-family: 'Libre Caslon Text';
        font-size: 3rem;
        font-weight: 700;
        line-height: 4rem; /* 133.333% */
        padding-top: 3rem;
    }

    .position {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.8rem; /* 155.556% */
    }
}
