.list-items {
    list-style: none;
    display: flex;
    gap: 3.3rem;
}

.item {
    color: #fff;
    line-height: 2.6rem; /* 162.5% */
    letter-spacing: 0.032rem;
    cursor: pointer;

    &:hover,
    .active {
        color: var(--orangeFont);
        font-weight: 500;
    }
}
