.total {
    display: flex;
    gap: 12rem;
}

.item {
    display: flex;
    align-items: center;
    gap: 2.2rem;
    font-family: 'Libre Caslon Text';

    .value {
        font-size: 6.4rem;
        font-weight: 500;
        line-height: 7.4rem; /* 115.625% */
        text-transform: capitalize;
    }

    .desc {
        width: 14.8rem;
        font-size: 2.4rem;
        line-height: 3.4rem; /* 141.667% */
        text-transform: capitalize;

        &:nth-child(2) {
            width: 18.5rem;
        }
    }
}
