.header {
    background-color: var(--primaryColor);
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
    padding: 2.5rem 0;
}
.logo {
}
